<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @universidade.nome %>
</p>



<%= link_to 'Edit', edit_universidade_path(@universidade) %> |
<%= link_to 'Back', universidades_path %>
